## Building the Dataset

First step in building a prediction module, is to get the historical data. Currently there exists number of apis that we can utilise to get the dataset. In this notebook we explore use of the following libraries getting Stock history.

1. [Quandl](https://www.quandl.com/)
2. [Yahoo finance](https://pypi.org/project/yfinance/)
3. [NSEpy](https://nsepy.xyz/)

These are of course only some examples. If you are comfortable in using some other library, please feel free to use them. 

#### Using Quandl
Quandl is a large platform with many publically available and free datasets. The data can be obtained using API call. The advantage is, it is maintained. However, many things are restricted for premium users. By default, quandl allows limited calls. But you can get around this by creating account at [Quandl](https://www.quandl.com/) and adding api key in the following block.

In [1]:
import quandl

In [2]:
# Uncomment and Insert your api-key here. 
#quandl.ApiConfig.api_key = "YOUR_KEY_HERE"
#quandl.ApiConfig.api_key = "_3AMSRSgEc84c9TtApHK"

Example:getting the price of US GDP using FRED database. 

Larger example. getting the price of Facebook. This can be done by using the dataset code (WIKI) along with the stock code (FB). These codes can be obtained by using Quandl.

In [3]:
#Get Reliance India price list
#mydata = quandl.get("FRED/GDP")

#Large_data = quandl.get("WIKI/FB")

In [4]:
#mydata

## TO BE IMPLEMENTED

#### Using NSEpy.

NSEpy is a library for National Stock Exchange of India.

In [5]:
from nsepy import get_history
from datetime import date

In [6]:
start_date = date(2010,1,1)
end_date = date.today()

In [7]:
data = get_history(symbol="RELIANCE", start=start_date, end=end_date)
data[['Close']].plot()

In [8]:
data

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2010-01-04,RELIANCE,EQ,1090.55,1091.10,1091.10,1021.85,1077.30,1075.50,1044.44,17520006,1.829863e+15,NaN,14348117,0.8190
2010-01-05,RELIANCE,EQ,1075.50,1149.90,1149.90,1065.40,1068.70,1070.70,1078.03,4890040,5.271634e+14,NaN,2861065,0.5851
2010-01-06,RELIANCE,EQ,1070.70,1079.90,1094.50,1070.65,1087.00,1088.00,1084.64,5415538,5.873928e+14,NaN,2539975,0.4690
2010-01-07,RELIANCE,EQ,1088.00,1088.00,1115.00,1078.00,1101.90,1106.05,1103.49,5988404,6.608116e+14,NaN,2522438,0.4212
2010-01-08,RELIANCE,EQ,1106.05,1108.00,1113.80,1096.00,1103.90,1103.15,1104.79,3453926,3.815856e+14,NaN,1253746,0.3630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-23,RELIANCE,EQ,2148.25,2174.00,2174.00,2132.30,2161.15,2162.35,2156.97,4547802,9.809454e+14,143268.0,2336976,0.5139
2021-08-24,RELIANCE,EQ,2162.35,2165.05,2192.00,2155.60,2178.00,2183.70,2174.28,5475452,1.190517e+15,173479.0,3050200,0.5571
2021-08-25,RELIANCE,EQ,2183.70,2185.40,2220.00,2180.10,2201.00,2202.60,2204.22,6175126,1.361136e+15,198304.0,2434419,0.3942
2021-08-26,RELIANCE,EQ,2202.60,2208.00,2244.90,2205.00,2232.00,2230.45,2230.28,8579105,1.913382e+15,248660.0,4241826,0.4944
2021-08-27,RELIANCE,EQ,2230.45,2237.00,2242.75,2216.05,2225.00,2227.40,2228.28,4836812,1.077777e+15,152317.0,2665237,0.5510

Now convert this data to Kaggle format so that we can use it in training and testing. The Kaggle accepts data in following format.

In [9]:
import pandas

In [10]:
sample = pandas.read_csv("Kaggle_sample.csv")

In [11]:
print("The kaggle data should be in following format.")
sample

The kaggle data should be in following format.

            Date    Open    High     Low   Close    Volume Name
0     2006-01-03   82.45   82.55   80.81   82.06  11715200  IBM
1     2006-01-04   82.20   82.50   81.33   81.95   9840600  IBM
2     2006-01-05   81.40   82.90   81.00   82.50   7213500  IBM
3     2006-01-06   83.95   85.03   83.41   84.95   8197400  IBM
4     2006-01-09   84.10   84.25   83.38   83.73   6858200  IBM
...          ...     ...     ...     ...     ...       ...  ...
3015  2017-12-22  151.82  153.00  151.50  152.50   2990583  IBM
3016  2017-12-26  152.51  153.86  152.50  152.83   2479017  IBM
3017  2017-12-27  152.95  153.18  152.61  153.13   2149257  IBM
3018  2017-12-28  153.20  154.12  153.20  154.04   2687624  IBM
3019  2017-12-29  154.17  154.72  153.42  153.42   3327087  IBM

[3020 rows x 7 columns]

In [12]:
data["Symbol"][0]

'RELIANCE'

In [13]:
new_dataset = data[['Open','High', 'Low', 'Close', 'Volume', 'Symbol']]

In [14]:
new_dataset.columns = ['Open','High', 'Low', 'Close', 'Volume', 'Name']

In [15]:
str(date(2017,1,1))

'2017-01-01'

In [16]:
export_name = data["Symbol"][0]+ '_' + str(start_date) + str(end_date) + '.csv'
new_dataset.to_csv(export_name)

#### Using Yahoo finance.

In [17]:
## TO BE Implemented